<%inherit file="base.html"/>

        % for item in items:
            <div class="item">
                <h2><a href="/thread/${item['hash_id']}?q=${q|u}">${item['subject']}</a></h2>
                <p><div class="progress-bar"><div class="progress" style="width: ${item['rank_pct']}%">&nbsp;${item['rank_pct']}</div></div> ${item['sent']} : ${item['author']|h}</p>
                <p>${item['body_plain']}</p>
            </div>
        % endfor
