<%inherit file="base.html"/>

<%def name="print_thread(messages,parent_id,current_id)">
	% for message in messages:
	% if message['parent_id'] == parent_id:
		<div style="padding-left: ${message['level']*20}px">
			% if message['id'] == current_id:
			<span class="current-message">${message['subject']}</span><br />[${message['sent']}] ${message['author']|h}
			% else:
			<a href="#${message['hash_id']}">${message['subject']}</a><br />[${message['sent']}] ${message['author']|h}
			% endif
		</div>
		${print_thread(messages,message['id'],current_id)}
	% endif
	% endfor
</%def>

	% for message in messages:
	<div id="message" style="clear: both">

		<a name="${message['hash_id']}"></a>
		<h1>${message['subject']}</h1>

		<div id="message-info">
			<div><strong>From</strong>: ${message['author']|entity}</div>
			<div><strong>Date</strong>: ${message['sent']}</div>
			<div><strong>Message-ID</strong>: ${message['message_id']} [<a href="/raw/${message['hash_id']}">raw</a>]</div>
		</div>

		<pre class="message-body">${message['body_plain']}</pre>

	</div>

	% endfor

	<div id="message-sidebar" style="margin-top: 3.35em">

		<div class="box">
			<h2>Thread (${len(messages)} messages)</h2>
			${print_thread(messages, None, None)}
		</div>
		
	</div>